{% extends "CQB_base.html" %}
{% block title %}CQB Control Table{% endblock%}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

{%if rcp_lists %}
<table class="table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Part</th>
            <th scope="col">Layer Name</th>
            <th scope="col">Recipe Name</th>
            <th scope="col">Tool</th>
            <th scope="col">Owner</th>
            <th scope="col">Recipe Number</th>
            <th scope="col">AODX Number</th>
            <th scope="col">Sample Rule Number</th>
            <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
        {% for rcp_list in rcp_lists %}
        <tr>
        <td>{{ rcp_list.rcp_id }}</td>
        <td>{{ rcp_list.rcp_part }}</td>
        <td>{{ rcp_list.rcp_layer }}</td>
        <td><a href="{{url_for('update', rcp_id = rcp_list.rcp_id)}}">{{ rcp_list.rcp_name }}</a></td>
        <td>{{ rcp_list.tool }}</td>
        <td>{{ rcp_list.owner }}</td>
        <td>{{ rcp_list.tool }}BA{{ "%04d"%rcp_list.recipe_id }}</td>
        <td>{{ rcp_list.tool }}BA{{ "%04d"%rcp_list.aodx_id }}</td>
        <td>{{ rcp_list.tool }}BA{{ "%04d"%rcp_list.sample_id }}</td>
        <td>{{ rcp_list.desc }}</td>
        </tr>
        {% endfor %} 
       
    </tbody>
    </table>
{% else %}
<h2>Searching for...</h2>
<form method="POST">
    {{form.hidden_tag()}}
    {{form.rcp_name.label(class="form-label")}}
    {{form.rcp_name(class="form-control")}}
    <br/> 
    {{form.tool.label(class="form-label")}}
    {{form.tool(class="form-control")}}
    <br/>
        
    {{ form.submit(class="btn btn-primary")}}


</form>
{% endif %}
{% endblock %}